{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}MLS{% endblock %}</title>
    {% tailwind_css %}
    {% block extra_head %}{% endblock %}
</head>
<body class="bg-gray-50 text-black font-serif leading-normal tracking-normal min-h-screen flex flex-col">

    {% include "navbar.html" %}

    <main class="flex-1">
      {% block content %}
      {% endblock %}
    </main>

    {% include "footer.html" %}

</body>
</html>